<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
<!--<bean id="AccountService" class="IocDemo.Service.impl.AccountServiceImpl"/>
<bean id="AccountDao" class="IocDemo.Dao.impl.AccountDaoImpl"/>-->

    <!--<context:component-scan base-package="AnnotationDemo"/>-->
<!--    <bean id="InsatanceFactory" class="IocDemo.factory.InsatanceFactory"/>-->
<!--    <bean id="AccountService" factory-bean="InsatanceFactory" factory-method="getAccountService"/>-->
    <!--配置service-->
    <!--<bean id="accountService" class="CaseDemo1.service.impl.AccountServiceImpl">
        &lt;!&ndash; 注入DAO&ndash;&gt;
        <property name="accountDao" ref="accountDao"/>
            </bean>
    &lt;!&ndash;配置dao&ndash;&gt;
    <bean id="accountDao" class="CaseDemo1.dao.impl.AccountDaoImpl" >
        &lt;!&ndash;注入QueryRunner&ndash;&gt;
        <property name="runner" ref="runner"/>
    </bean>
<bean id="runner" class="org.apache.commons.dbutils.QueryRunner" scope="prototype">
    &lt;!&ndash; 注入数据源&ndash;&gt;
    <constructor-arg name="ds" ref="dataSource" />
</bean>
    &lt;!&ndash; 配置数据源&ndash;&gt;
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource">
        &lt;!&ndash; 连接数据库配置信息&ndash;&gt;
        <property name="driverClass" value="com.mysql.jdbc.Driver"/>
        <property name="jdbcUrl" value="jdbc:mysql://localhost:3306/user"/>
        <property name="user" value="root"/>
        <property name="password" value="root"/>
    </bean>-->
</beans>